torch==1.13
pandas>=1.4.1
datasets==2.14.5
xlrd==2.0.1
openpyxl==3.1.2
xlsxwriter==3.1.7
peft==0.6.0
transformers==4.35.0
huggingface-hub==0.17.3
tokenizers==0.14.1
safetensors==0.4.0
accelerate==0.24.0
bitsandbytes==0.41.1
accelerate==0.24.0
soynlp==0.0.493
argparse
